<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Article</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script
      src="https://use.fontawesome.com/releases/v6.1.0/js/all.js"
      crossorigin="anonymous"
    ></script>
    <!-- Google fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/journal/bootstrap.min.css"
    />
  </head>
  <body>
    <%- include('partials/nav.ejs') %>
    <!-- Post Content -->
    <article class="mt-3">
      <div class="container">
        <h1 class="text-center"><%= article.title %></h1>
        <p><%= article.content %></p>
        <a href="#!"
          ><img
            class="img-fluid d-block mx-auto"
            src="<%= article.image %> "
            alt="..."
        /></a>
      </div>
    </article>
    <hr class="my-4" />
    <!-- Comments -->
    <div class="d-flex flex-column justify-content-center mb-3">
      <div class="container bg-light p-4 rounded-3 shadow mb-4">
        <form
          class="mb-4"
          method="post"
          action="<%=`/article/comment/${article.id}` %> "
        >
          <input
            type="text"
            value="<%= article.id %>"
            name="articleId"
            style="display: none"
          />
          <textarea
            name="commentContent"
            class="form-control form-text"
            rows="3"
            placeholder="Join the discussion and leave a comment!"
          ></textarea>
          <button
            type="submit"
            class="btn btn-primary mt-2 rounded form-control"
          >
            Submit
          </button>
          <hr />
        </form>
        <h3>Comments:</h3>
        <hr />
        <% if (comments.length > 0) { %>
          <% for (const comment of comments) {%>
            <div>
              <h4><%= comment.user.firstname + " " + comment.user.lastname %></h4>
              <p><%=comment.content %></p>
              <p
              style="font-size: 1rem; font-weight: 200; color: rgb(102, 102, 102)"
              >
              Posted on: <%= String(comment.createdAt).substring(0,15) %>
              </p>
              <hr />
            </div>
            <% } %> 
        <% } else {%> 
          <p>There are no comments yet...</p>
        <% } %>
      </div>
    </div>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
