<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Edit user</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script
      src="https://use.fontawesome.com/releases/v6.1.0/js/all.js"
      crossorigin="anonymous"
    ></script>
    <!-- Google fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/journal/bootstrap.min.css"
    />
  </head>
  <body>
    <!-- Navigation-->
    <%- include('partials/nav.ejs') %>
    <!-- Main Content-->
    <div class="container my-3">
      <form method="POST" action="/admin/edit/user/<%=user.id%>?_method=PATCH">
        <input
          type="text"
          name="userId"
          id="userId"
          value="<%=user.id%>"
          style="display: none"
        />
        <div class="form-floating">
          <label for="firstname">Title</label>
          <input
            required
            class="form-control"
            name="firstname"
            value="<%=user.firstname%>"
            id="firstname"
            type="text"
            placeholder="Enter your name"
            data-sb-validations="required"
          />
          <div class="invalid-feedback" data-sb-feedback="title:required">
            First name is required
          </div>
        </div>
        <div class="form-floating">
          <label for="lastname">Last name</label>
          <input
            required
            class="form-control"
            id="lastname"
            value="<%=user.lastname%>"
            name="lastname"
            placeholder="Enter your last name"
            type="text"
            data-sb-validations="required"
          />
          <div class="invalid-feedback" data-sb-feedback="content:required">
            Last name is required.
          </div>
        </div>
        <div class="form-floating">
          <label for="email">Email</label>
          <input
            required
            class="form-control"
            name="email"
            value="<%=user.email%>"
            id="email"
            type="text"
          />
        </div>
        <div class="form-floating">
          <label for="role">Role</label>
          <input
            required
            class="form-control"
            id="role"
            value="<%=user.role%>"
            name="role"
            placeholder="Enter your last name"
            type="text"
            data-sb-validations="required"
          />
          <div class="invalid-feedback" data-sb-feedback="content:required">
            Role is required.
          </div>
        </div>
        <br />
        <button
          class="btn btn-primary text-uppercase"
          id="submitButton"
          type="submit"
        >
          Send
        </button>
      </form>
    </div>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
