<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Edit article</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script
      src="https://use.fontawesome.com/releases/v6.1.0/js/all.js"
      crossorigin="anonymous"
    ></script>
    <!-- Google fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/journal/bootstrap.min.css"
    />
  </head>
  <body>
    <!-- Navigation-->
    <%- include('partials/nav.ejs') %>
    <!-- Main Content-->
    <div class="container my-3">
      <form
        method="POST"
        action="/<%=role%>/edit/<%=article.id%>?_method=PATCH"
      >
        <fieldset>
          <legend>Edit article</legend>
          <input
            type="text"
            name="articleId"
            id="articleId"
            value="<%=article.id%>"
            style="display: none"
          />
          <div class="form-group">
            <label for="title" class="form-label mt-4">Title</label>
            <input
              type="text"
              class="form-control"
              id="title"
              name="title"
              aria-describedby="title"
              value="<%= article.title %>"
            />
          </div>
          <div class="form-group">
            <label for="content" class="form-label mt-4">Content</label>
            <textarea class="form-control" id="content" name="content" rows="3">
<%= article.content %></textarea
            >
          </div>
          <div class="form-group">
            <label for="formFile" class="form-label mt-4">Submit file</label>
            <input class="form-control" type="file" id="image" name="image" />
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
      </form>
    </div>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
