<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>BLOG</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script
      src="https://use.fontawesome.com/releases/v6.1.0/js/all.js"
      crossorigin="anonymous"
    ></script>
    <!-- Google fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/journal/bootstrap.min.css"
    />
  </head>
  <body>
    <%- include('partials/nav.ejs') %>
    <!-- Main Content-->
    <div class="container mt-4">
      <% for(const article of articles){%>
      <a
        href="/article/<%= article.id %>"
        class="text-decoration-none"
        style="color: inherit"
      >
        <div class="card mb-3 rounded shadow">
          <div class="row card-body g-0">
            <div class="col-9 p-3">
              <h3 class="mb-4"><%= article.title %></h3>
              <p class=""><%= article.content %></p>
            </div>
            <div class="col-3 align-self-center">
              <img
                src="<%= article.image %>"
                alt="<%= article.title %>"
                class="img-fluid rounded-end"
              />
            </div>
          </div>
          <div class="card-footer text-muted"><%= article.createdAt %></div>
        </div>
      </a>
      <!-- Divider-->
      <hr class="my-4" />
      <% } %>
    </div>

    <!-- Pager-->
    <div class="d-flex justify-content-end mb-4">
      <a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a>
    </div>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
